<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<div> 
<span><%= link_to "All", root_path %></span>  
    <% @categories.each_with_index do |category, index| %>
        <span><%= link_to category.name, root_path(category_id: category.id) %></span>  
    <% end %>
</div>

<div> 
    <% @contributors.each_with_index do |contributor, index| %>
        <div><%= contributor.email %></div>  
    <% end %>
</div>

<% @products.each_with_index do |product, index| %>
   <div> 
      <span><%= product.id %></span>  
      <span><%= product.title %></span>  
      <span><%= product.description %></span>  
      <span><%= product.price %>$</span>  
      <td><%= link_to pluralize(product.comments.visible.count, "commentaire"), product %></td>
   </div>
<% end %>
