<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each_with_index do |product, index| %>
   <div> 
      <span><%= product.id %></span>  
      <span><%= product.title %></span>  
      <span><%= product.description %></span>  
      <span><%= product.price %>$</span>  
      <td><%= link_to pluralize(product.comments.visible.count, "commentaire"), product %></td>
   </div>
<% end %>
