<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product.description %>
</p>

<% @product.categories.each do |category| %>
   <div> 
      <span><%= category.name %></span>  
   </div>
<% end %>

<% @comments.each_with_index do |comment, index| %>
   <div> 
      <span><%= link_to comment.user.email, user_path(comment.user.id) %> ||</span>  
      <span><%= comment.body %></span>  
   </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Comment', new_product_comment_path(@product) %>
<% else %>
  <%= link_to 'Sign up and add new Comment', new_product_comment_path(@product) %>
<% end %>
<%= link_to 'Back', products_path %>